<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Search Results</title>
</head>

<body>
    <h1 class="text-center">Search Results</h1>
    <br>
    <div>
        <% for (let i of rows) { %>
            <div class="quoteBox">
                "<%= i.quote %>"<br>
                    <a class="authors" href="#" id="<%= i.authorId %>">
                        <%= i.authorId %>, <%= i.firstName %>
                                <%= i.lastName %>
                    </a>
            </div>
            <br><br>
            <% } %>
    </div>

    <!-- Modal -->
    <div id="authorModal" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="authorInfo"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
        <script src="/js/results.js"></script>
</body>

</html>